:root {
    --primary-red: hsl(0, 36%, 70%);
    --secondary-red: hsl(0, 93%, 68%);
    --tertiary-red: hsl(0, 6%, 24%);

    --gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --font: "Josefin Sans", sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-auto-rows: min-content;
    font-family: var(--font);
    font-weight: 400;
    color: var(--tertiary-red);
    font-size: 16px;
}

.left {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.top-left .logo {
    padding: 30px;
    max-width: 120px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 50px;
}

.right {
    grid-row: 2 / 3;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5px;
}

h1 span {
    font-weight: 300;
    color: var(--primary-red);
}

.bottom-left p {
    text-align: center;
    color: var(--primary-red);
}

#signup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#signup label {
    font-size: 0;
}

#signup #email {
    padding: 15px;
    border-radius: 50px;
    border: 1px solid var(--primary-red);
}

#signup #email::placeholder {
    color: var(--primary-red);
}

#signup .email-error {
    display: none;
    color: var(--secondary-red);
    padding-left: 15px;
}

#signup #email:invalid {
    border: 2px solid var(--secondary-red);
    background: url(images/icon-error.svg) no-repeat center right 75px;
}

#signup #email:invalid ~ .email-error {
    display: block;
}

#signup button {
    position: absolute;
    padding: 12px 25px;
    top: 0;
    right: 0;
    background: var(--gradient);
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right .mobile {
    width: 100%;
}

.right .desktop {
    display: none;
    height: 100vh;
}

@media (min-width: 64em) {
    body {
        background: url(images/bg-pattern-desktop.svg) no-repeat ;
        grid-template-columns:  2fr 1fr;
        grid-template-rows: 1fr 4fr;
    }

    .top-left {
        grid-row: 1 / 2;
    }
    
    .bottom-left {
        grid-row: 2 / 3;
    }

    .right {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }

    .top-left,
    .bottom-left {
        margin: 0 15%;
    }

    .bottom-left {
        padding: 0 30px;
    }

    h1 {
        text-align: left;
        font-size: 4em;
        line-height: 1.2em;
        letter-spacing: 10px;
        margin-bottom: 10px;
    }

    .bottom-left p {
        text-align: left;
        line-height: 1.6em;
        margin-bottom: 30px;
    }

    .right .desktop {
        display: block;
    }

    .right .mobile {
        display: none;
    }
}