:root {
    --primary-red: hsl(0, 36%, 70%);
    --secondary-red: hsl(0, 93%, 68%);
    --tertiary-red: hsl(0, 6%, 24%);

    --gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

    --font: "Josefin Sans", sans-serif;
}

body {
    background: url() no-repeat var(--gradient);
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-auto-rows: min-content;
    font-family: var(--font);
    font-weight: 400;
    color: var(--tertiary-red);
    font-size: 16px;
}

.top-left .logo {
    padding: 30px;
    max-width: 120px;
}

.bottom-left {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 50px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5px;
}

h1 span {
    font-weight: 300;
    color: var(--primary-red);
}

.bottom-left p {
    text-align: center;
    color: var(--primary-red);
}

#signup {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#signup label {
    font-size: 0;
}

#signup #email {
    padding: 15px;
    border-radius: 50px;
    border: 1px solid var(--primary-red);
    width: 100%;
}

#signup #email::placeholder {
    color: var(--primary-red);
}

#signup .email-error {
    display: none;
}

#signup button {
    position: absolute;
    padding: 12px 25px;
    top: 0;
    right: 0;
    background: var(--gradient);
    border-radius: 50px;
    border: none;
}

.right {
    grid-row: 2 / 3;
}

.right .mobile {
    width: 100%;
}

.right .desktop {
    display: none;
}

@media (min-width: 40em) {
    body {
        background: url(images/bg-pattern-desktop.svg) no-repeat ;
    }
}